<ion-header>
  <ion-navbar>
    <ion-title>NFL Teams</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let t of teams">
      <ion-avatar item-left>
        <h2>{{t.Team}}</h2>
      </ion-avatar>
      

      <p>{{t.Team_preffered_name}}</p>
    </ion-item>
  </ion-list>
</ion-content>
